.git
.github
**/.next
**/node_modules
**/uploads
.env
.env.*
!.env.production.example
!deploy/.env.production.example
deploy/.env
**/*.md
!deploy/README.md
apps/mobile/node_modules
apps/mobile/.expo
docs
**/.turbo
**/coverage
**/*.log
.cursor
terminals
